@import "tailwindcss";

@font-face {
  font-family: 'Playfair Display';
  src: url('/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input {
  transition: color 0.2s;
  color: #999;
}

input::placeholder {
  transition: color 0.2s;
  color: #999;
}

input:focus {
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

/* shimmer */
.shimmer {
  animation: placeholder-shimmer .8s linear infinite forwards;
  background: #d8d8d8;
  background-image: linear-gradient(90deg, #d8d8d8 0, #bdbdbd, #d8d8d8 40%, #d8d8d8);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  color: transparent;
  cursor: default !important;
  pointer-events: none !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0
  }

  to {
    background-position: 468px 0
  }
}
